* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #262626;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
    background-image: url("/media/img/IMG_7760.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    height: 200px;
}
nav {
    background-color: aqua;
    height: 120px;
    position: sticky;
    top: 0;
}
img.logo {
    width: 140px;
    height: 100px;
}
nav ul {
    padding: 40px;
    margin-left: 100px;
}

nav ul > li {
    display: inline-block;
    margin-right: 14px;
}
nav > ul > li > a {
    padding: 12px 26px;
    background-color: #FDFFFC;
    border-radius: 8px;
    text-decoration: none;
}
nav > ul > li > a:hover {
    background-color: #011627;
    color: #FDFFFC;
}
section {
    background-color: rgb(180, 139, 219);
    border-bottom: solid #262626;
}
article {
    background-color: palevioletred;
}
main {
    position: static;
}
aside {
    background-color: lightpink;
    height: 900px;
}
footer {
    background-color: seashell;  
}
nav, footer {
    height: 100px;
    border: 1px solid #262626;
}
section, article {
   height: 450px;
   border-right: dotted #262626;
   box-shadow: 5px 10px 8px #888888; 
}
.column {
    width: 49%;
}
.float-left {
    float: left;
}
.clearfix {
   clear: both;
}